<div class="row mt-5">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Kashif Ali - Interview Task of Round 2
                </h4>
                <div class="p-2">
                    <strong>Email : </strong> alikashi54321@gmail.com
                </div>
                <div class="p-2">
                    <strong>Position : </strong> Full Stack Developer
                </div>
                <div class="p-2">
                    <strong>Contact Number : </strong> +923057502419
                </div>
                <div class="p-2">
                    <strong>Coding Challenge : </strong> Network Connections
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="https://kashif-ali-70842.web.app/" target="_blank" class="btn btn-warning">Go To My Profile</a>
            </div>
        </div>
    </div>
</div>
