<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of events">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">
                    Regular Event {{ event }}
                </h5>
                <p class="card-text">
                    Regular Event Description {{ event }}
                </p>
                <a href="javascript:void(0);" class="btn btn-primary">Buy Tickets</a>
            </div>
            <div class="card-footer text-muted">
                {{ '2022-04-12' | date: 'shortDate' }}
            </div>
        </div>
    </div>
</div>
