<div class="row mt-5">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Kashif Ali - IKONIK Coding Challenge Task
                </h4>
                <div class="p-2">
                    <strong>Email : </strong> alikashi54321@gmail.com
                </div>
                <div class="p-2">
                    <strong>Position : </strong> Full Stack Developer
                </div>
                <div class="p-2">
                    <strong>Contact Number : </strong> +923057502419
                </div>
                <div class="p-2">
                    <strong>Coding Challenge : </strong> Network Connections
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="https://kashif-ali-70842.web.app/" target="_blank" class="btn btn-warning">Go To My Profile</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Test My Code Challenge
                </h4>
                <div class="p-2">
                    <strong>Backend Code Main GITHUB Branch : </strong> Laravel - <a href="https://github.com/alikashi543211/ikonik_coding_challenge" target="_blank">https://github.com/alikashi543211/ikonik_coding_challenge</a>
                </div>
                <div class="p-2">
                    <strong>Frontend Main GITHUB Branch: </strong> Angular - <a href="https://github.com/alikashi543211/ikonik_coding_challenge_frontend" target="_blank">https://github.com/alikashi543211/ikonik_coding_challenge_frontend</a>
                </div>
                <div class="p-2">
                    <strong>Base Url For Angular </strong> http://127.0.0.1:8000/api/
                </div>
                <div class="p-2">
                    <strong>Commands </strong> <br>
                    php artisan migrate <br>
                    php artisan db:seed <br>
                </div>
                <div class="p-2">
                    <strong>Test With Account </strong> <br>
                    email : webteam@aol.com <br>
                    password : password <br>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a href="https://kashif-ali-70842.web.app/" target="_blank" class="btn btn-warning">Go To My Profile</a>
            </div>
        </div>
    </div>
</div>
