<span class="fw-bold">Received Request</span>
<div class="my-2 shadow text-white bg-dark p-1" *ngFor="let item of data">
    <div class="d-flex justify-content-between">
        <table class="ms-1">
            <td class="align-middle">{{ item.name }}</td>
            <td class="align-middle">-</td>
            <td class="align-middle">{{ item.email }}</td>
            <td class="align-middle"></td>
        </table>

        <div>
            <button
                id="accept_request_btn_"
                class="btn btn-primary me-1"
                (click)="accept(item.id)"
            >
                Accept
            </button>
        </div>
    </div>
</div>
