<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">My Profile</h3>
            </div>
            <div class="card-body">
                <p class="text-center">
                    <img [src]="user.photo" width="150" alt="">
                </p>
                <p>
                    <strong>First Name : </strong>
                    <span>{{ user.first_name }}</span>
                </p>
                <p>
                    <strong>Last Name : </strong>
                    <span>{{ user.last_name }}</span>
                </p>
                <p>
                    <strong>Email : </strong>
                    <span>{{ user.email }}</span>
                </p>
                <p>
                    <strong>Zip Code : </strong>
                    <span>{{ user.zip_code }}</span>
                </p>
            </div>
        </div>
    </div>
</div>
