<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input [(ngModel)]="registerUserData['first_name']" name="first_name" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input [(ngModel)]="registerUserData['last_name']" name="last_name" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Zip Code</label>
                        <input [(ngModel)]="registerUserData['zip_code']" name="zip_code" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input [(ngModel)]="registerUserData['email']" name="email" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Password</label>
                        <input type="text" [(ngModel)]="registerUserData['password']" name="password" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Login Type</label>
                        <input type="text" [(ngModel)]="registerUserData['login_type']" name="password" class="form-control rounded-0" required>
                    </div>
                    <div class="text-right">
                        <button type="button" (click)="registerUser()" class="btn btn-primary mt-4">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
